################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/alt1scripts/config/applicationhost.config
/.vs/alt1scripts/v17/.suo
